body{
    --primary-color:#c2b07a;
    background-color:#e0dac8;
    margin:0px;
   }
   textarea{
       border:1px solid black;
       border-radius: 0.5rem;
      max-width:20%;
      min-width:40%;
       padding:1rem;
       display:block;
       height: 130px;
       margin: auto;
       margin-top:2.5rem;
       margin-bottom: 1rem;
       box-sizing: border-box;
       
       font-weight:bold;
       font-size:medium;
   }
   div{
       border:1px solid black;
       border-radius: 0.5rem;
      max-width:20%;
      min-width:40%;
       padding:1rem;
       display:block;
       height: 130px;
       margin: auto;
       margin-top:1rem;
       margin-bottom: 1rem;
       box-sizing: border-box;
       font-weight:bold;
       font-size:medium;  
       overflow: scroll;
   }
   button{
       background-color:var(--primary-color);
       color: black;
       font-size: larger;
       font-weight: bold;
       display: block;
       /* box-sizing: border-box; */
       padding: 1rem 2.5rem;
       border: rgb(10, 8, 8);
       margin:auto;
   }
   #header{
   text-align: center;
   color: black;
   padding:1.3rem;
   display: block;
   font-size: 2rem;
   font-weight: bold;
   box-sizing: border-box;
   }
   #out-header{
    text-align: center;
   }
   
   .div{
   text-align: center;
   margin-top: 0.5rem;
   font-weight:bold;
   font-size:medium;
   }
   
   footer{
       bottom: 0;
       width: 100%;
       padding: 5rem 1rem;
       background-color: var(--primary-color);
       text-align: center;
       box-sizing: border-box;
       display: block;
   }
   p{
       max-width: 600px;
       margin:auto;
       margin-top:0px;
       margin-bottom: 0.5rem;
       font-weight:bold;
       font-size:medium;
   }
   